<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NAME</th>
      <th>LATITUDE</th>
      <th>LONGITUDE</th>
      <th>Name</th>
      <th>Year</th>
      <th>Month</th>
      <th>Temp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AGARTALA</td>
      <td>23.883</td>
      <td>91.25</td>
      <td>India</td>
      <td>1980</td>
      <td>1</td>
      <td>18.21</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AGARTALA</td>
      <td>23.883</td>
      <td>91.25</td>
      <td>India</td>
      <td>1981</td>
      <td>1</td>
      <td>18.25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AGARTALA</td>
      <td>23.883</td>
      <td>91.25</td>
      <td>India</td>
      <td>1982</td>
      <td>1</td>
      <td>19.31</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AGARTALA</td>
      <td>23.883</td>
      <td>91.25</td>
      <td>India</td>
      <td>1985</td>
      <td>1</td>
      <td>19.25</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AGARTALA</td>
      <td>23.883</td>
      <td>91.25</td>
      <td>India</td>
      <td>1988</td>
      <td>1</td>
      <td>19.54</td>
    </tr>
  </tbody>
</table>