<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>movie</th>
      <th>number of shared actors</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>The Office</td>
      <td>974</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Entertainment Tonight</td>
      <td>128</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Arrested Development</td>
      <td>105</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Criminal Minds</td>
      <td>99</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Curb Your Enthusiasm</td>
      <td>98</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Jimmy Kimmel Live!</td>
      <td>98</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Saturday Night Live</td>
      <td>89</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Conan</td>
      <td>86</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Late Night with Conan O'Brien</td>
      <td>82</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Parks and Recreation</td>
      <td>78</td>
    </tr>
  </tbody>
</table>