<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>actor</th>
      <th>movie_or_TV_name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Rainn Wilson</td>
      <td>The Power</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rainn Wilson</td>
      <td>Dark Winds</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Rainn Wilson</td>
      <td>Hitpig</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Rainn Wilson</td>
      <td>Jerry and Marge Go Large</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Rainn Wilson</td>
      <td>Robodog</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Rainn Wilson</td>
      <td>Night Safari</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Rainn Wilson</td>
      <td>Dark Air with Terry Carnation</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Rainn Wilson</td>
      <td>Killing Hollywood: The Cotton Club Murder</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Rainn Wilson</td>
      <td>Mom</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Rainn Wilson</td>
      <td>The Rookie</td>
    </tr>
  </tbody>
</table>